<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
   <script src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
     google.charts.load('current', {packages: ['corechart']});     
   </script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
</head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Customer || Subscription</title>
<script>
function myFunc(){
    var x=new Date();
    console.log(x);
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();

    if(dd<10) {
        dd="0"+dd
    } 

    if(mm<10) {
        mm="0"+mm
    } 

    

    console.log("Time: "+today);
    today = yyyy+"-"+mm+"-"+dd+ " " +today.getHours() + ":" + today.getMinutes()+":" + today.getSeconds();
    /* var n=twoDigits(x);
    var date;
    date = new Date();
    
    
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();

    if(dd<10) {
        dd="0"+dd
    } 

    if(mm<10) {
        mm="0"+mm
    } 

    

    console.log("Time: "+today);
    
    p = x.getUTCFullYear() + '-' +
        ('00' + (date.getUTCMonth()+1)).slice(-2) + '-' +
        ('00' + date.getUTCDate()).slice(-2) + ' ' + 
        ('00' + date.getUTCHours()).slice(-2) + ':' + 
        ('00' + date.getUTCMinutes()).slice(-2) + ':' + 
        ('00' + date.getUTCSeconds()).slice(-2);
    console.log(p); */
    document.getElementById("currentTime").value =today ;
    document.getElementById("currentTime1").value =today ;
}
function twoDigits(d) {
    if(0 <= d && d < 10) return "0" + d.toString();
    if(-10 < d && d < 0) return "-0" + (-1*d).toString();
    return d.toString();
}
window.onload = myFunc;
</script>
<style>
body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
</style>

</head>
<body>
<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Abhi Ram 
                    </a>
                </li>
                <li>
                    <a href="/customerHomepage">Dashboard</a>
                </li>
                <li>
                    <a href="/billing">Billing</a>
                </li>
                <li>
                    <a href="/subscription">Subscribe</a>
                </li>
                <li>
                    <a href="/getRequestSensor">Request Sensor</a>
                </li>
                <li>
                    <a href="/liveSensor">Live Sensor Track</a>
                </li>
                <li>
                    <a href="#">Subscription History</a>
                </li>
                <li>
                    <a href="/mySensors">My Sensors</a>
                </li>
                
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Subscription</h1>
                        
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
                
                <div class="row">
          <form method="GET" action='/unSubscribeMe'>      
			<h3>Sensors you are presently subscribed</h3>
				<table class="table">
    <thead>
      <tr>
      <th>Check</th>
        <th>Sensor ID</th>
        <th>Sensor Name</th>
        <th>Time Subscribed</th>
        <th>Time Un-subscribed</th>
      </tr>
    </thead>
    <tbody>
     <input type="text" name="currentTime" id="currentTime">
     <% for(var i in results.resultsSub) { %>
      <tr>
      	<td><input type="checkbox" name="sensorIdToUnSubscribe" value='<%=results.resultsSub[i].sensorId %>'></td>
        <td><%=results.resultsSub[i].sensorId %></td>
		<td><%=results.resultsSub[i].sensorName%></td>
        <td><%=results.resultsSub[i].timeSubscribed%></td>
        <td><%=results.resultsSub[i].timeUnsubscribed%></td>
        
      </tr>
      <% } %> 
    </tbody>
  </table>
  <input type="submit" >
		</form>
			<br>
			<br>	
			<form method="GET" action='/subscribeMe'>
				<h3>Other Sensors available</h3>
				<table class="table">
    <thead>
      <tr>
      <th>Check</th>
        <th>Sensor ID</th>
        <th>Sensor Name</th>
      </tr>
    </thead>
    <tbody>
    <input type="text" name="currentTime1" id="currentTime1">
     <% for(var i in results.resultsNotSub) { %>
      <tr>
      	<td><input type="checkbox" name="sensorIdToSubscribe" value='<%=results.resultsNotSub[i].sensorId %>'></td>
        <td><%=results.resultsNotSub[i].sensorId %></td>
		<td><%=results.resultsNotSub[i].sensorName%></td>        
      </tr>
      <% } %> 
    </tbody>
  </table>
  <input type="submit" >
		</form>
				
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>


	
</body>
</html>
